* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #fff;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  background: url("images/hero.jpg") center/cover no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 40, 41, 0.8); /* Deep Blue Overlay */
}
.hero-content {
  position: relative;
  z-index: 1;
}
.hero-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
  max-width: 600px;
}
.btn {
  background-color: #0056b3;
  color: white;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: #003c7d;
}

/* About Section */
.about {
  background-color: #fff;
}

.about h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  color: #1f4e79;
  margin-bottom: 20px;
}

.about .container {
  display: flex;
  column-gap: 80px;
}
.about img {
  width: 300px;
}
.about-text p {
  font-size: 16px;
  line-height: 1.6;
}
/* Services Section */
.services {
  background-color: #e6f0fa;
  text-align: center;
}

.services h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  color: #1f4e79;
  margin-bottom: 30px;
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service-card {
  background: #fff;
  padding: 30px;
  /* flex: 1 1 300px; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
  color: #1f4e79;
  margin-bottom: 15px;
}
.fa-solid {
  margin-bottom: 24px;
}

/* Portfolio Section */
.portfolio {
  background-color: #fff;
  text-align: center;
}

.portfolio h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  color: #1f4e79;
  margin-bottom: 30px;
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-item {
  min-width: 300px;
}

.portfolio-item img {
  width: 100%;
  height: 350px; /*fixed height for all images */
  object-fit: cover;
  border-radius: 10px;
}

.see-more {
  margin-top: 30px;
}

.see-more-btn {
  background-color: #1f4e79;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-btn:hover {
  background-color: #3a75c4;
}
/* Contact Section */
.contact {
  background-color: #1f4e79;
  color: #fff;
  text-align: center;
}

.contact h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact input,
.contact textarea {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.contact button {
  background: #fff;
  color: #1f4e79;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background: #3a75c4;
  color: #fff;
}

/* Footer */
.footer {
  background: #0d2c50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.footer .social-links {
  margin-bottom: 10px;
}

.footer .social-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: #3a75c4;
}
@media (max-width: 920px) {
  .portfolio-container {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .about .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .about-image img {
    width: 90%;
    height: auto;
  }

  .service-grid {
    flex-direction: column;
    align-items: center;
  }
  .portfolio-container {
    justify-content: center;
  }
  .btn {
    padding: 10px 20px;
  }

  .contact form {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
